mixin loginForm()
	.well.well-sm
		form.form-horizontal(action="/login" method="POST")
			h3 Login
			.form-group
				label.col-sm-3.control-label.d-none.d-sm-block(for="email") Email address
				.col-sm-9.col-xs-12
					.input-group
						span.input-group-addon @
						input.form-control(type="email" name="email" placeholder="✉")
			.form-group
				label.col-sm-3.control-label.d-none.d-sm-block(for="password") Password
				.col-sm-9.col-xs-12
					.input-group
						span.input-group-addon @
						input.form-control(type="password" name="password" placeholder="🔑")
			.form-group
				.col-sm-9.col-sm-offset-3.col-xs-12
					button.btn.btn-primary(type="submit") Login ▶
